body {
  background-color: #473E4B;
}

h1,h2,h3,h4,h5,p{
  font-family: 'Varela Round', sans-serif;
}

  h5{
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 21px;
    color: #F2E9E1;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #F2E9E1;
}

.text-accent{
  color: #99173C;
}

.button{
  background-color: #99173C;
}

.button:hover{
  background-color: #78122F
}

a{
  color: #99173C;
}

a:hover{
  color: #78122F;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #99173C;
  border-radius: 0;
  box-shadow: 0px 2px 3px 2px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #2E2633;
  color: #F2E9E1;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #F2E9E1;
  }

  .portfolio-me a{
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #99173C;
    font-size: 15px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #78122F;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #99173C;
}

 .portfolio-breadcrumb a{
   font-family: 'Varela Round', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
  color: #2E2633;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .imgThumbnail{
    margin-bottom: 5px;
    box-shadow: 0px 2px 3px 2px rgba(10, 10, 10, 0.2);
  }

  .portfolio-index a{
    color: #F2E9E1;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #F2E9E1;
}

.portfolio-bio{
    line-height: 25px;
}

hr {
  display: block;
  max-width: 25%;
  border-bottom: 4px solid #78122F;
  padding-bottom: 20px;
}
